body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Lilita One", sans-serif;
  background-color: var(--Second-Background-Color);
  font-family: "Nunito", sans-serif;
}
:root{
  --Background-Color:#fff;
  --Second-Background-Color:#e8e8e8;
  --Main-Color:#002333;
  --Text-Color:#000000;
  --Second-Text-Color:#858282;
}

/*:root{
  --Background-Color:#fff;
  --Second-Background-Color:#E9E0F7;
  --Main-Color:#AA82ED;
  --Text-Color:#000000;
  --Second-Text-Color:#fff5;

  background-image: 
        linear-gradient( 
            to bottom right, #EFD7F4, #c5c7f1);
}*/

.Container{
  width: 90%;
  margin: 0 auto;
}
h2{
  font-size: 2rem;
}
p{
  font-size: 1rem;
}